# CustomEventPackEditor settings (safe to delete)
inspector=true
last_pack=/mis/SteamLibrary/steamapps/common/Cell to Singularity/CellToSingularity_Data/CustomEvents/ai
pan_speed=900
sidebar=true
ui_scale=1
view=graph
